* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Nunito', sans-serif;
  font-family: 'PT Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.none {
  display: none !important;
}

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #536781;
  background-image: url('./assets/img/header/header-bg.jpg');
  background-size: cover;
  background-position: center;
}

.header-title {
  margin: 0;
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 56px;
  line-height: 130%;
  text-align: center;
  color: #ffffff;
}

.header-subtitle {
  margin: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #ffffff;
}

.header-arrow {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 48px;
  height: 48px;
}

.portfolio {
  padding-top: 80px;
  padding-bottom: 115px;
}

.portfolio-header {
  margin: 0;
  margin-bottom: 70px;
  font-weight: 700;
  font-size: 46px;
  line-height: 130%;
  text-align: center;
  color: #000000;
}

.portfolio-card-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  margin-bottom: 30px;
  max-width: 540px;
  background-color: #787a7a36;
  box-shadow: 0px 10px 40px rgba(126, 155, 189, 0.35);
  border-radius: 15px;
  transition: transform 0.2s ease-in;
}

.card:hover {
  transform: translateY(-15px);
}

.card-link {
  display: block;
  padding: 20px;
  color: #000000;
  text-decoration: none;
  transition: color 0.2s ease-in;
}

.card-link:hover {
  color: rgb(39, 91, 236);
}

.card:last-child,
.card:nth-last-child(2) {
  margin-bottom: 0;
}

.card-img {
  margin-bottom: 20px;
}

.card-title {
  margin: 0;
  margin-bottom: 13px;
  font-weight: 600;
  font-size: 24px;
  line-height: 130%;
}

.card p {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
}

.footer {
  padding-top: 45px;
  padding-bottom: 130px;
  background: #1e4776;
  color: white;
}

.footer-row {
  display: flex;
  justify-content: space-between;
}

.footer-copyright {
  max-width: 350px;
  color: #7e9ec9;
  line-height: 1.3;
}

.footer-copyright-name {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 28px;
}

.footer-copyright p {
  margin: 0;
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 16px;
}

a:focus,
a:active {
  outline: none;
}

/* Links */

a,
a:link,
a:visited {
  color: inherit;
  text-decoration: none;
  /* display: inline-block; */
}

a:hover {
  /* color: inherit; */
  text-decoration: none;
}

.footer-button {
  display: inline-block;
  line-height: 44px;
  padding-left: 30px;
  padding-right: 30px;
  height: 50px;
  border: 3px solid #ffffff;
  border-radius: 50px;

  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  transition: all 0.2s ease-in;
}

.footer-button:hover {
  background-color: #ffffff;
  color: #1e4776;
}

.footer-contacts p {
  max-width: 350px;
  margin: 15px 0;
  font-size: 16px;
  line-height: 1.3;
  color: #7e9ec9;
}

/* Project */

.project {
  padding-top: 80px;
  padding-bottom: 120px;
  text-align: center;
  color: #000000;
}

.project-header {
  margin: 0;
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 46px;
  line-height: 1.3;
}

.project-img {
  margin-bottom: 70px;
}

.project-description {
  margin: 0 auto 60px;
  max-width: 730px;
}

.project-description p {
  margin-top: 0;
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

.project-btn-back {
  display: inline-block;
  line-height: 54px;
  padding-left: 30px;
  padding-right: 30px;
  height: 60px;
  border: 3px solid #275bec;
  border-radius: 50px;

  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  color: #275bec;
  text-decoration: none;
  transition: all 0.2s ease-in;
}

.project-btn-back:hover {
  background-color: #275bec;
  color: #ffffff;
}

@media (max-width: 1140px) {
  .card {
    width: calc(50% - 15px);
  }

  .footer {
    padding-top: 40px;
    padding-bottom: 60px;
  }

  .footer-row {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
  }

  .footer-col {
    margin-bottom: 50px;
  }

  .footer-col:first-child {
    margin-bottom: 0;
  }

  .footer-copyright-name {
    font-size: 18px;
    margin-bottom: 5px;
  }

  .footer-copyright p {
    text-decoration: none;
    font-size: 14px;
  }

  .footer-contacts p {
    font-size: 14px;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 15px;
  }
}

@media (max-width: 760px) {
  .header-title {
    font-size: 32px;
  }

  .header-subtitle {
    font-size: 14px;
  }

  .portfolio {
    padding-top: 40px;
    padding-bottom: 60px;
  }

  .portfolio-header {
    font-size: 32px;
    margin-bottom: 30px;
  }

  .portfolio-card-wrapper {
    justify-content: center;
  }

  .card {
    max-width: 530px;
    width: 100%;
  }

  .card:nth-last-child(2) {
    margin-bottom: 30px;
  }

  .card-link {
    padding: 15px;
  }

  .card-img {
    margin-bottom: 10px;
  }

  .card-title {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .card p {
    font-size: 14px;
  }

  .project {
    padding: 40px 0 60px;
  }

  .project-header {
    font-size: 28px;
    margin-bottom: 30px;
  }

  .project-img {
    margin-bottom: 20px;
  }

  .project-description {
    margin-bottom: 50px;
  }

  .project-btn-back {
    padding: 0 10px;
    width: 100%;
    max-width: 320px;
  }
}
